* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.nav-bar {
    height: 100px;
    width: 100%;
    top: 0;
    position: relative;
    margin-bottom: 20px;
    background: linear-gradient(to right, #dbc8de, #f3ddce);
    border-bottom: 2px solid #7b777b;
}
.logo {
    height: 60px;
    width: 60px;
    margin-top: 15px;
    margin-left: 100px;
    padding: 5px;
    opacity: 0.7;
}
.box {
    position: relative;
    bottom: 29px;
    margin-left: 80px;
    outline: none;
    border: 1px solid #7b777b;
    border-radius: 18px;
    font-size: 16px; 
    padding: 8px;
    width: 20%;
}
.search-box span img {
    height: 20px;
    width: 20px;
    position: relative;
    bottom: 24px;
    right: 35px;
    cursor: pointer;
    opacity: 0.7;
}
.menu-bar {
    width: 55%;
    float: right;
}
.menu-bar ul {
    display: inline-flex;
    float: right;
    position: relative;
    bottom: 65px;
    right: 15px;
}
.menu-bar ul li {
    list-style-type: none;
    background: transparent;
    cursor: pointer;
    text-align: center;
}
.menu-bar ul li img {
    width: 25px;
    height: 25px;
}
.menu-bar ul li a {
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 40px;
    color: #7b777b;
}
.menu-bar ul li::after{
    content: "";
    height: 2px;
    width: 0;
    background: #7b777b;
    display: block;
    margin: auto;
    transition: .5s;
}
.menu-bar ul li:hover::after{
    width: 60%;
}
@media only screen and (max-width: 980px) {
    .nav-bar {
        width: 85%;
        margin-left: 30px;
        background: none;
        
    }
    .logo {
        margin-left: 25px;
    }
    .menu-bar {
        width: 100%;
    }
    .box {
        width: 40%;
    }
    .search-box span img {
        display: none;
    }
    .menu-bar ul {
        width: 100%;
    }
    .menu-bar ul li {
        position: relative;
        top: 85px;
        width: 24%;
    }
    .menu-bar ul li:hover::after {
        width: 0;
        height: 0;
    }
    .menu-bar ul li img {
        position: relative;
        left: 18px;
    }
}
.container {
    margin-top: 65px;
    margin-left: 185px;
    width: 80%;
}
.subtitle {
    height: 45px;
    width: 85%;
    background: linear-gradient(to right, #dbc8de, #f3ddce);
    border-bottom: 3px solid #7b777b;
}
.subtitle h3 {
    display: inline-block;
    margin: 12px;
    padding-left: 65px;
    text-transform: uppercase;
    font-weight: 100;
    font-style: italic;
    color: #7b777b;
}
.subtitle::after {
    content: "";
    border-top: 45px solid white;
    border-right: 50px solid transparent;
    position: absolute;
    display: flex;
    margin-top: -46px;
}
.col img {
    width: 80%;
    padding: 15px;
    cursor: pointer;
}
.col img:hover {
    transform: scale(1.1);
}
.row-one, .row-two {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    left: 45px;
    padding: 15px 10px;
    width: 80%;
}
.col {
    width: 100%;
}
.col h3, h5{
    margin-left: 65px;
    padding: 5px;
    color: #7b777b;
    font-weight: 700;
    
}
.col h5 {
    margin-left: 90px;
    font-size: 17px;
}
@media only screen and (max-width: 980px) {
    .container {
        width: 70%;
        margin-left: 100px;
    }
    .subtitle{
        width: 90%;
        position: absolute;
        top: 200px;
        right: 30px
    }
    .row-one, .row-two {
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
        top: 100px;
        left: -20px;
    }
    .col img {
        width: 80%;
    }
    .col img:hover {
        transform: none;
    }
    .col h3 {
        margin-left: 30%;
    }
    .col h5 {
        margin-left: 35%;
    }
}
.container text-content {
    width: 100%;
    max-width: 980px;
}
.row {
    display: flex;
    justify-content: space-between;
}
.footer {
    margin-top: 80px;
    padding-bottom: 50px;
    padding-right: 120px;
    background: linear-gradient(to right, #dbc8de, #f3ddce);
    border-top: 1px solid #7b777b;
}   
.footer h1{
    font-size: 20px;
    margin: 25px 0;
    font-weight: 300;
    letter-spacing: 1px;
    border-bottom: 7px solid #7b777b;
    color: #7b777b;
}
.footer p {
    font-size: 14px;
    color: #7b777b;
}
.col-one p {
    letter-spacing: 1px;
}
.col-two p{
    padding: 5px;
    border-bottom: 1px solid  #7b777b;
    letter-spacing: 1px;
    cursor: pointer;
}
.col-three img {
    width: 30px;
    height: 30px;
    padding-left: 20px;
    cursor: pointer;
}
.copyright {
    text-align: center;
    margin-top: 30px;
    margin-left: 160px;
    padding-top: 30px;
}
@media only screen and (max-width: 980px) {
    .row {
        display: flex;
        flex-flow: column;
        position: relative;
        left: 25px;
    }
    .container text-content {
        width: 50%;
    }
}

/*---------- Korpa ------------*/

.big-table {
    width: 80%;
    margin: 35px;
    padding: 20px;
    border: 1px solid #dbc8de;
    color: #5f5161;
}
.big-table, td {
    width: 80%;
    padding: 10px;
    margin: 25px;
    font-weight: 700;
}
.icon {
    width: 1%;
    height: 8px;
    object-fit: contain;
    padding: 5px;
    position: relative;
    bottom: 35px;
    border: 1px solid #7b777b;
    border-radius: 50%;
    background: linear-gradient(to right, #dbc8de, #f3ddce);
    cursor: pointer;
}
.phone {
    width: 120px;
    height: 100px;
    object-fit: contain;
    margin-left: 35px;
}
td span {
    position: relative;
    bottom: 40px;
    margin-left: 85px;
    font-size: 20px; 
}
.quantity {
    outline: none;
    padding: 3px;
    border: 2px solid #7b777b;
    color: #5f5161;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
}
.btn button {
    font-size: 18px;
    padding: 15px 80px;
    position: sticky;
    left: 62%;
    border: none;
    background: linear-gradient(to right, #dbc8de, #f3ddce);
    border-radius: 20px;
    color: #5f5161;
    letter-spacing: 1px;
    cursor:pointer;
    outline: none;
}
.btn a {
    text-decoration: none;
}
@media only screen and (max-width: 980px) {
    .big-table {
        width: 100%;
        display: flex;
        position: relative;
        right: 90px;
        top: 120px;
        border: none;
    }
    .big-table, td {
        display: flex;
        flex-flow: column;
        text-align: left;
    }
    .icon {
        width: 5%;
        height: 13px;
    }
    .phone {
        margin-left: 50px;
        width: 170px;
        height: 200px;
    }
    .quantity {
        width: 20%;
        margin-left: 105px;
        align-items: center;
    }
    td {
        padding-left: 25px;
        text-align: center;
    }
    td span {
        position: relative;
        bottom: 0;
        margin-left: 25px;
    }
    .btn button{
        position: relative;
        top: 70px;
        left: 65px;
        padding: 10px 20px;
        border-radius: 15px;
        letter-spacing: 0;
    }
}

/*------------ Poruči ----------*/

.shop {
    width: 79%;
    margin: 20px;
    padding: 10px;
    border: 1px solid #dbc8de;
}
label {
    border: 0;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 200px;
    color: #7b777b;
    font-weight: 600;
}
.shop input[type="text"], .shop input[type="tel"], .shop input[type="email"] {
    border: 0;
    display: block;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #dbc8de;
    padding: 10px 10px;
    width: 200px;
    outline: none;
    color: #5f5161;
    font-size: 15px;
    border-radius: 15px; 
    transition: .25s;
}
.shop input[type="text"]:focus, .shop input[type="tel"]:focus, .shop input[type="email"]:focus {
    width: 280px;
    border-color: #f3ddce;
}
.shop input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 20px;
    width: 200px;
    background: linear-gradient(to right, #dbc8de, #f3ddce);
    color: #5f5161;
    text-transform: uppercase;
    font-weight: 700;
    outline: none;
    border-radius: 20px;
    cursor:pointer; 
}
@media only screen and (max-width: 980px) {
    .shop {
        position: relative;
        top: 70px;
        right: 30px;
        border:none;
    }
    .shop input[type="text"]:focus, .shop input[type="tel"]:focus, .shop input[type="email"]:focus {
        width: 200px;
    }
}

/*--------------- Proizvodi ---------------*/

.zcontainer {
    width: 70%;
    height: 500px;
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: 2px solid  #7b777b;
   
}
.ztext {
    width: 40%;
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 5%;
    bottom: 50px;
    float: right;
    color: #5f5161;
}
.ztext h1 {
    font-size: 35px;
    font-weight: 500;
    padding-bottom: 15px;
    letter-spacing: 1px;
}
.ztext h3 {
    font-size: 25px;
    padding-bottom: 15px;
}
.ztext button {
    margin-bottom: 35px;
    font-size: 15px;
    font-weight: 600;
    padding: 15px;
    border: none;
    background: linear-gradient(to right, #dbc8de, #f3ddce);
    border-radius: 10px;
    color: #5f5161;
    cursor: pointer;
    outline: none;
}
.ztext h4 {
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .5px;
    border-bottom: 2px solid #dbc8de;
    width: 50%;
}
.ztext p {
    padding-left: 30px
}
.ztext p span{
    font-size: 18px;
    font-weight: 600;
}
.zpicture {
    width: 50%;
    height: 350px;
}
.zimage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.zsmall {
    width: 80px;
    height: 90px;
    object-fit: contain;
    margin-left: 5%;
    display: inline-block;
    position: relative;
    left: 20%;
}
@media only screen and (max-width: 980px) {
    .zcontainer {
        position: relative;
        top: 85px;
        width: 90%;
        height: 400px;
        margin-left: 5%;
        margin-right: 5%;
        border-bottom: none;
    }
    .ztext h1 {
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 1px;
    }
    .ztext h3 {
        font-size: 15px;
        padding-bottom: 15px;
    }
    .ztext button {
        margin-bottom: 25px;
        font-size: 10px;
    }
    .ztext h4 {
        margin-bottom: 15px;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: .5px;
    }
    .ztext {
        font-size: 10px;
        padding-left: 0;
    }
    .ztext p span{
        font-size: 12px;
        font-weight: 700;
    }
    .zimage{
        height: 70%;
    }
    .zsmall {
        width: 40px;
        height: 80px;
    }
}













